body {
    background: whiteSmoke; /*#494848;*/
    width: 100%;
    height: 780px;
    margin: 0;
    font-family: Arial,Verdana;
    overflow:hidden;
}

td {
    /*//border:thin solid Black*/
}


.HomeDivKey {
    background: #494848;
    background-size: cover;
    width: 100%;
    margin: 0px;
    font-family:Arial,Verdana;
}
.CenterLabel1 {
    color:#661CCD;
    font-size:50px;
    font-weight:bold;
    font-family:Arial,Verdana;
<<<<<<< HEAD
    top: 210px;
    left: 605px;
    
    
=======
>>>>>>> 1d1d39cfff056d65848d005ca53849d4a6aa6459
}

.ImgeUpDown {
    height: 80px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    
}
.boxStyleKey {
    background:white;
   width: 495px;
    height: 360px;
    margin:5px;
    float:left;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s ;
}
.BottomChartBOx {
    background: white;
    width: 500px;
    overflow:hidden;
    margin: 5px;
    height: 365px;
    float: left;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.leftSideBox {
    background: rgba(128, 128, 128, 0.60);
    height: 200px;
    width: 250px;
    float: left;
    margin-left: 10px;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s;
    
}
.smallBox {
    background: #898686;
    height: 50px;
    width: 240px;
    float: left;
    margin-top: 2px;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.divOrderDetails {
    background:rgba(0, 122, 204, 0.76);
    width:200px;
    height:auto;
    font-family:Arial,Verdana;
    
}
.ShipmentInfoDiv {
    /*border-radius:5px;*/
    background:rgba(255, 255, 255, 0.40);
    width: 100%;
    height: 170px;
    font-family:Arial,Verdana;
    text-align: center;
    vertical-align: top;
    
}

.ShipmentNewDiv {
     /*border-radius:5px;*/
    background:white;
    margin-left:3px;
    width: 500px;
    height: 230px;
    font-family:Arial,Verdana;
    text-align: center;
    vertical-align: top;
    
}
.leftSideBoxChart {
    margin: 5px;
    font-family: Arial,Verdana;
    float: left;
    background: white;
    width: 500px;
    height: 365px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.leftSideBoxChartp {
    margin-top: -50px;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
}

.lblShipmentNumber {
    color:whitesmoke;
    font-size:70px;
    font-weight:100;
    font-family:Arial, Verdana, Candara ;
    text-align:right;
    
}
.lblShipmentSubtitle {
    text-align:left;
     color:#282828;
    font-size:20px;
    width:200px;
    font-family:Arial,Verdana;
}
p {
    margin:0;
    text-align:left
}
.lblChartTitle{
    font-size: 17px ;
    color:Gray;
    text-align:center;
    width:500px;
    font-family:Arial,Verdana;
}
.gapdiv {
    height:100%;
    width:4px;
    background:#898686;
}