body {
      background: #494848;
    width: 100%;
    height: 780px;
    margin:0;
    font-family:Arial,Verdana;

}

td {
    /*//border:thin solid Black*/
}


.HomeDivKey {
    background: #494848;
    background-size: cover;
    width: 100%;
    margin: 0px;
    font-family:Arial,Verdana;
    
}
.CenterLabel1 {
    position:absolute;
    margin-left:-170px;
    margin-top:150px;
    color:#5fc0fe;
    /*color:#093b5c;*/
    font-size:100px;
    font-weight:bold;
    font-family:Arial,Verdana;
}

.boxStyleKey {
    background: rgba(128, 128, 128, 0.60);
    height:400px;
    width: 470px;
    margin:5px;
    float:left;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s ;
}
.BottomChartBOx {
    background: #0e0e0e;
    width: 440px;
    margin: 5px;
    height: 200px;
    float: left;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.leftSideBox {
    background: rgba(128, 128, 128, 0.60);
    height: 200px;
    width: 250px;
    float: left;
    margin-left: 10px;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s;
    
}
.smallBox {
    background: rgba(30, 0, 69, 0.83);
    height: 110px;
    width: 230px;
    float: left;
    margin: 2px;
    font-family:Arial,Verdana;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.divOrderDetails {
    background:rgba(0, 122, 204, 0.76);
    width:200px;
    height:310px;
    font-family:Arial,Verdana;
    
}
.ShipmentInfoDiv {
    /*border-radius:5px;*/
    background:rgba(255, 255, 255, 0.40);
    width: 100%;
    height: 120px;
    font-family:Arial,Verdana;
    text-align: center;
    vertical-align: central;
}

.lblShipmentNumber {
    color:whitesmoke;
    font-size:70px;
    font-weight:bold;
    font-family:Arial, Verdana, Candara ;
    text-align:right;
    
}
.lblShipmentSubtitle {
    text-align:left;
     color:whitesmoke;
    font-size:25px;
    font-family:Arial,Verdana;
}
p {
    margin:0;
}
.lblChartTitle{
    font-weight:bold;
    font-size: 22px ;
    color:whitesmoke;
    font-family:Arial,Verdana;
}