body {
    width: 100%;
    height: 800px;
    margin:0;
}

/*Home Page Div*/
.HomeDivKey {
      background:#494848;
    /*background: url(../../Themes/Images/Background.JPG) right top no-repeat;*/
    background-size: cover;
    width: 100%;
    height: 800px;
    margin:0px;
}

/*Home Page Slide down*/
#Flick {
    margin:0;
    -webkit-animation: fadein 7s; /* Safari and Chrome */
    -moz-animation: fadein 7s; /* Firefox */
    -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera */
    animation: fadein 7s;
}
@keyframes fadein {
    from {
         margin-top:-810px;
    }
    to {
           margin-top:0px;
    }
}
@-moz-keyframes fadein { /* Firefox */
     from {
         margin-top:-810px;
    }
    to {
           margin-top:0px;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
     from {
         margin-top:-810px;
    }
    to {
           margin-top:0px;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
         margin-top:-810px;
    }
    to {
           margin-top:0px;
    }
}
    /*end home page Slide Down*/